.about-cover {
    display: none;
    position: absolute;
    background-color: rgba(115, 82, 212, 0.8);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.about-background {
    position: relative;
    display: none;
    width: 40vw;
    background-image: url('../../img/about-background.jpg');
    background-position: top;
    z-index: 0;
}

@media (min-width: 850px) {
    .about-cover {
        display: block;
    }
    
    .about-background {
        display: block;
    }
}

@media (min-width: 1380px) {
    .about-background {
        width: 50vw;
    }
}