.about-text {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--color-zero);
    padding: 5rem 1rem;
}

@media (min-width: 850px){
    .about-text {
        margin: 0;
        width: 60vw;
    }
}

@media (min-width: 1000px) {
    .about-text {
        max-width: 660px;
    }
}

@media (min-width: 1360px) {
    .about-text {
        max-width: 800px;
    }
}

@media (min-width: 1600px) {
    .about-text {
        max-width: 1080px;
    }
}