.container-skills {
    display: grid;
    grid-gap: 2rem;
    margin-top: 3vw;
}

@media (min-width: 1200px) {
    .container-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}
