.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form >  .input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color-negative-light);

    transition: border 250ms ease-in-out;
}

.contact-form > .input:focus {
    border-bottom: 3px solid var(--color-primary);
}

.contact-form > .input::selection {
    background-color: var(--color-primary);
    color: var(--color-zero);
}

.contact-form > .input.-textarea {
    resize: vertical
}

.contact-form > .button {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: var(--color-zero);
    background-color: var(--color-primary);
    border: none;
    padding: 1em 2em;
    border-radius: 100px;
    margin-top: 2vh;
    cursor: pointer;
}
