.group-buttons {
    display: inline;
    position: relative;
    font-size: 1.2em;
    margin: 0.5em;
}

.group-buttons .button {
    display: inline;
    border: none;
    cursor: pointer;
    color: var(--color-zero);
    background-color: transparent;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.group-buttons.-language {
    margin-left: 35px;
}

.group-buttons .vr {
    display: inline-block;
    width: 1px;
    height: 0.8em;
    margin-top: 0.2em;
    border-right: 1px solid var(--color-zero);
}

.group-buttons .button.-selected {
    color: var(--color-primary);
}